:root {
    --primary-color: #009cde; 
    --warning-background-color: #fff0f0;
    --medium-dark-shade-of-cyan-: #264861;
    --main-body-color: #EDF6F9;
    --light-shade-of-red-orange: #FFDDD2;
}

html {
    scroll-padding-top: 4rem; /* max-height of sticky nav bar */
}


body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--main-body-color);
}

/* table {
    width: 100%;
    table-layout: auto;
}
 */
header {
    color: white;
    width: 100%;
    height: 100px;
    background-color: var(--medium-dark-shade-of-cyan-);
    z-index: 1;
    top: 0;

}

#header_p1{
    text-align: center; 
    font-size: xxx-large; 
    margin: 0px 0px 0px 0px;
}

#header_p1 b {    
    font-style: italic;
    text-shadow: 2px 2px black;
}

#header_p2{
    text-align: center; 
    font-size: medium; 
    margin: 15px 0px 5px 0px;
}


body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--main-body-color);
}
body::before {
    content: "";
    bottom: 0;
    display: block;
    position: fixed;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*for navigation bar*/
nav.fixed_nav_bar {
    padding: 0;
    background-color: var(--medium-dark-shade-of-cyan-);
    /* overflow: hidden; */
    /* position: -webkit-sticky; /* Safari*/
    position: sticky;
    top: 0;
    width:100%;
    z-index: 1; /* prevent navigation from getting covered by video element */
    /* height: 46px; */
    
    /* border:1px solid #264861; */

}

nav.fixed_nav_bar ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1; /* prevent navigation list from getting covered by Cars A-Z menu brand logos */
}

nav.fixed_nav_bar li {
    /* float: left; */
    display: inline-block;
    width: 11%;
}

nav.fixed_nav_bar li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav.fixed_nav_bar li:hover:not(.active) {
    background-color: var(--light-gray);
}

/* since only Home require <a>
to avoid override nav.fixed_nav_bar ul li
just create a dropdown_list class for other li 
(except use for 'home') */
.dropdown_list {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown_menu > div{
    display: block;
}

#dropdown_menu_for_carlist{
    height: 500px;
    overflow: scroll;
}

.dropdown_menu > div > a ~ div{
    display: none;
    position: absolute;
    background-color: var(--medium-dark-shade-of-cyan-);
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 200px;
    overflow: scroll;
}

.dropdown_menu > div > a + input:checked + label + .carlist_submenu{
    display: block;
    
}

#up_button{
    opacity: 0;
}

#down_button{
    opacity: 1;
}

.dropdown_menu > div > a + input:checked + label > #down_button{
    opacity: 0;
}

.dropdown_menu > div > a + input:checked + label > #up_button{
    opacity: 1;
}

.dropdown_menu > div > a ~ label{
    display: inline;
}

.dropdown_menu > div > a ~ label > img:hover{
    cursor: pointer;
    filter: opacity(50%);
}

.dropdown_menu > div > a + input{
    display: none;
}

.dropdown_list:hover .dropdown_menu {
    display: block;
}

.dropdown_menu {
    margin-left: -16px;
    margin-top: 14px;
    display: none;
    position: absolute;
    background-color: var(--medium-dark-shade-of-cyan-);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_list:hover .dropdown_menu {
    display: block;
}

.dropdown_menu > a , .carlist_submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_menu > div > a #dropdown_menu_carlist{
    display: inline-block;
}

.carlist_dropdown_button{
    width: 1em;
    height: 1em;
    display: inline;
}

nav.fixed_nav_bar li a.active, nav.fixed_nav_bar li.active, .dropdown_menu a:hover, .dropdown_menu a.active, .dropdown_menu>div:hover{
    color: var(--medium-dark-shade-of-cyan-);
    background-color: var(--light-shade-of-red-orange);
}

/* Car List Menu */
nav input#car-list {
    display: none;
}
nav #car-list-button label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
nav input#car-list:checked ~ ul li#car-list-button {
    background-color: var(--light-gray);
}
nav input#car-list:checked ~ div#car-list-menu {
    display: block;
}
nav div#car-list-menu {
    display: none;
    cursor: auto;
    max-height: 65vh;
    padding-bottom: 5vh;
    margin: 24px;
    background-color: var(--medium-dark-shade-of-cyan-);
    overflow-y: auto;
}
nav #car-list-menu > section {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav #car-list-menu section article {    
    flex-basis: 230px;
}
nav #car-list-menu section article input {
    display: none;
}
nav #car-list-menu section article input:checked ~ div {
    display: block;
}
nav #car-list-menu section article label {
    cursor: pointer;
    color: white;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 50px; /* ensure label text is vertically middle */
    margin-block-start: 1em;
    margin-block-end: 1em;
}
nav #car-list-menu section article label::before {
    background-image: url(./source/images/carLogo/brands-to-sprite.png);
    content: " ";
    display: inline-block;    
    filter: drop-shadow(0 0 4px white);
    -webkit-filter: drop-shadow(0 0 4px white);
    height: 100px;
    width: 100px;
    margin: -25px -18px -25px 0;
    transform: scale(0.5);
    vertical-align: middle;
}
nav #car-list-menu input#ABARTH + label::before { background-position: 0 0;}nav #car-list-menu input#ALFA-ROMEO + label::before { background-position: -100px 0;}nav #car-list-menu input#AUDI + label::before { background-position: -200px -30px;height: 43px;}nav #car-list-menu input#BMW + label::before { background-position: -400px 0;}nav #car-list-menu input#CITROEN + label::before { background-position: -700px -15px;height: 80px;}nav #car-list-menu input#CUPRA + label::before { background-position: -700px -500px;}nav #car-list-menu input#DACIA + label::before { background-position: -900px -10px;height: 90px;}nav #car-list-menu input#DS + label::before { background-position: -500px -500px;}nav #car-list-menu input#FIAT + label::before { background-position: -200px -100px;}nav #car-list-menu input#FORD + label::before { background-position: -300px -125px;height: 50px;}nav #car-list-menu input#HYUNDAI + label::before { background-position: -500px -120px;height: 60px;}nav #car-list-menu input#JAGUAR + label::before { background-position: -800px -120px;height: 60px;}nav #car-list-menu input#JEEP + label::before { background-position: -900px -130px;height: 40px;}nav #car-list-menu input#KIA + label::before { background-position: 0 -220px;height: 60px;}nav #car-list-menu input#LEXUS + label::before { background-position: -400px -215px;height: 75px;}nav #car-list-menu input#MAZDA + label::before { background-position: -700px -210px;height: 85px;}nav #car-list-menu input#MERCEDES + label::before { background-position: -800px -200px;}nav #car-list-menu input#MG + label::before { background-position: -900px -200px;}nav #car-list-menu input#MINI + label::before { background-position: 0 -330px;height: 50px;}nav #car-list-menu input#NISSAN + label::before { background-position: -300px -310px;height: 90px;}nav #car-list-menu input#PEUGEOT + label::before { background-position: -500px -315px;height: 80px;}nav #car-list-menu input#POLESTAR + label::before { background-position: 0 0;}nav #car-list-menu input#RENAULT + label::before { background-position: 0 -400px;}nav #car-list-menu input#SEAT + label::before { background-position: -200px -400px;}nav #car-list-menu input#SKODA + label::before { background-position: -400px -400px;}nav #car-list-menu input#SMART + label::before { background-position: -500px -430px;height: 40px;}nav #car-list-menu input#SUBARU + label::before { background-position: -701px -420px;height: 60px;}nav #car-list-menu input#SUZUKI + label::before { background-position: -800px -400px;}nav #car-list-menu input#TESLA + label::before { background-position: -1900px -400px;height: 75px;}nav #car-list-menu input#TOYOTA + label::before { background-position: 0 -515px;height: 75px;}nav #car-list-menu input#VAUXHALL + label::before { background-position: -100px -500px;}nav #car-list-menu input#VOLVO + label::before { background-position: -300px -500px;}nav #car-list-menu input#VW + label::before { background-position: -200px -500px;}
nav #car-list-menu input#POLESTAR + label::before {
    background-image: url(./source/images/carLogo/polestar.jpg);
}
nav #car-list-menu section article label::after {
    content: " ▼";
}
nav #car-list-menu section article input:checked + label::after {
    content: " ▲";
}
nav #car-list-menu section article div {
    display: none;
}
nav #car-list-menu section article a {
    color: white;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px black;
    padding: 0.67rem;
    margin: 1.33rem auto;
    max-width: 35rem;
} 
@media screen and (max-width: 601px) {
    body {
        background-color: white;
    }
    body::before {
        background: none;
    }
    main {
        border-radius: 0;
        box-shadow: none;
    }
    form .button-flex {
        width: 100%;
    }
}

fieldset#member-details legend {
    font-size: x-large;
    font-weight: bold;
}
fieldset#member-details div {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
}
fieldset#member-details h3, fieldset#member-details p {
    flex-grow: 1;
}
fieldset#member-details h3 {
    flex-basis: 7rem;
    margin-top: 0;
    margin-bottom: 0;
}
fieldset#member-details p {
    flex-basis: 15rem;
    margin-left: 0.67rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main .warning-banner {
    background-color: var(--warning-background-color);
    color: red;
    margin: 0 -0.67rem;
    padding: 0.83rem 0;
    text-align: center;
}
main .warning-banner svg {
    fill: red;
    vertical-align: middle;
}
main .warning-banner h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
main .warning-banner h2 {
    margin-bottom: 0;
}
form fieldset {
    border-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.33rem;
    padding: 0;
}
form fieldset label, div.input {         
    flex-grow: 1;
}
form fieldset label {
    align-self: start;        
    flex-basis: 8rem;
    font-weight: bold;
    margin-top: 0.66rem;
}
form fieldset div.input {
    display: flex;
    flex-basis: 15rem;
    max-width: 100%;
}
form fieldset div.input > div {            
    flex-grow: 1;
}
form fieldset div.input .form-icon {            
    display: inline-block;
    flex-shrink: 0;
    height: 36px;
    width: 36px;
    margin-right: 0.33rem;
}
form fieldset div.input .form-icon.badge {            
    background-image: url('./source/images/registrationPage/form-icon/outline_badge_black_18dp.png');
}
form fieldset div.input .form-icon.email {            
    background-image: url('./source/images/registrationPage/form-icon/outline_email_black_18dp.png');
}
form fieldset div.input .form-icon.smartphone {            
    background-image: url('./source/images/registrationPage/form-icon/outline_smartphone_black_18dp.png');
}
form fieldset div.input .form-icon.vpn_key {            
    background-image: url('./source/images/registrationPage/form-icon/outline_vpn_key_black_18dp.png');
}
form fieldset div.input .form-icon.wc {            
    background-image: url('./source/images/registrationPage/form-icon/outline_wc_black_18dp.png');
}
form fieldset div.input .form-icon.flag {            
    background-image: url('./source/images/registrationPage/form-icon/outline_flag_black_18dp.png');
}
form select, form input[type=text], form input[type=email], form input[type=tel], form input[type=password] {
    font-size: medium;
    padding: 0.67rem;
    box-sizing: border-box;
    width: 100%;
}
form input[type=checkbox] {
    height: 1.33rem;
    width: 1.33rem;
    vertical-align: middle;
}
form input.warning, form select.warning {
    border-color: red;
    border-style: solid;
}
form .button-flex {
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    flex-grow: 1;
    font-size: large;
    font-weight: bold;
    margin: 0.33rem;
    padding: 0.67rem;
    text-align: center;
    text-decoration: none;
}
form .button-flex:hover {
    text-decoration: underline;
    background-color: #0071a1;
}
form .button-flex#reset {
    background-color: darkred;
}
form .button-flex#reset:hover {
    background-color: rgb(92, 0, 0);
}
form p.warning-text {
    color: red;
    font-weight: bold;
    margin: 0;
}
form p.warning-text.hidden {
    display: none;
}
form p.warning-text::before {
    content: "⚠ ";
}

#terms-statement {
    display: none;
}

/* formValidation.php */

fieldset#member-details legend {
    font-size: x-large;
    font-weight: bold;
}
fieldset#member-details div {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
}
fieldset#member-details h3, fieldset#member-details p {
    flex-grow: 1;
}
fieldset#member-details h3 {
    flex-basis: 7rem;
    margin-top: 0;
    margin-bottom: 0;
}
fieldset#member-details p {
    flex-basis: 15rem;
    margin-left: 0.67rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main .warning-banner {
    background-color: var(--warning-background-color);
    color: red;
    margin: 0 -0.67rem;
    padding: 0.83rem 0;
    text-align: center;
}
main .warning-banner svg {
    fill: red;
    vertical-align: middle;
}
main .warning-banner h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
main .warning-banner h2 {
    margin-bottom: 0;
}

a#return-to-login{
    margin: 0.66rem auto;
    width:fit-content;
    box-sizing:border-box;
    text-decoration: none;
    text-align:center;
    border-radius:5px;
    padding:14px 16px;
    outline:14px 16px;
    display:block;
    background-color: #e76f51;
    color: white;
}

footer {
    padding: 1.5em;
/*background-color: #bee3db; */
    background-color: var(--medium-dark-shade-of-cyan-);
    color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

footer #leaseInfo {
    display: none;
}

footer label {
    cursor: pointer;
}

footer label::after {
    content: " ▼";
}

footer label, .fixed_nav_bar {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

footer #leaseInfoText {
    display: none;
}

footer input:checked ~ #leaseInfoText {
    text-align: justify;
    display: block;
}

footer input:checked + label::after {
    content: " ▲";
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color:white;
}

footer ul li:not(:last-child):after {
    content: " |";
}
